{% extends "base.html" %}
{% set active_page = "pricefetcher" %}

{% block title %}pricefetcher{% endblock %}

{% block head %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block page_content %}
<style>
.input-width {
  text-align: center;
  width: 200px;
}
</style>
<style>
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 1250px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

   .content-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
      font-weight: bold;
   }

  .content-table th,
  .content-table td {
    padding: 12px 15px;
   }

  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
   }

  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
   }

  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
   }
</style>
<center>
<h1 class="cap">Stock price fetcher</h1>
{% if ticker %}
<h4>Displaying the stock price of {{ticker}} for a time period of {{period}} with a {{interval}} interval.</h4>
<div style="width: 1200px; height:300px;" id="graphDiv">{{ graph_div | safe }}</div>
{% endif %}

<form action="/form1" method="post">
  <label for="dropdown">Select a stock, period, and interval:</label>
  <br>
  <select id="dropdown" name="ticker" class="input-width">
    <option value="AAPL">Apple</option>
    <option value="GOOGL">Google</option>
    <option value="TSLA">Tesla</option>
    <option value="QQQ">Nasdaq</option>
    <option value="MSFT">Microsoft</option>
  </select>
  <br>
  <select id="dropdown" name="period" class="input-width">
    <option value="1y">1 year</option>
    <option value="2y">2 years</option>
    <option value="3y">3 years</option>
    <option value="4y">4 years</option>
    <option value="5y">5 years</option>
  </select>
  <br>
  <select id="dropdown" name="interval" class="input-width">
    <option value="1d">Daily</option>
    <option value="1wk">Weekly</option>
    <option value="1mo">Monthly</option>
  </select>
  <br>
  <input type="submit" value="Submit" class="input-width">
</form>

</center>

{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}